*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  
  nav,footer,header,aside{display: block;}
  
  html,body{
    min-height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,button,textarea{font-family:inherit;}
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0;border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  
  h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

  @font-face{
    font-family: 'Bad Script';
    src:url('../font/Bad\ Script.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face{
    font-family: 'IBM Plex Serif';
    src:url('../font/IBMPlexSerif-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body{
      font-family: Bad Script;
      font-size: 32px;
      line-height: 150%;
      letter-spacing: 0.15em;
      background-image: url(../img/paper.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

  .text0908_1_Polina{
      margin-top: 65px;
      margin-left: 285px;
  }
  
  .text0908_2_Polina{
      margin-top: 29px;
      margin-left: 285px;
  }

  .text0908_3_Polina{
      margin-top: 62px;
      margin-left: 285px;
  }

  .text0908_4_Polina{
      margin-top: 71px;
      margin-left: 285px;
  }

  .images0908_Polina{
      margin-bottom: 20px;
  }
  
  .left_image0908_Polina{
      width: 30%;
      margin-top: 5px;
      margin-left: 285px;
  }

  .right_image0908_Polina{
      width: 30%;
      margin-top: 5px;
      margin-left: 150px;
  }
  
  hr{
      border: none;
      background-color: #000000;
      height: 3px;
      display: block;
  }

  .footer0908_Polina{
      font-family: 'IBM PLex Serif';
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0.08em;
      line-height: 150%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px;
      padding-left: 150px;
      padding-right: 150px;
  }

  a{
      color:#000000;
  }

  .text0908_Polina, .images0908_Polina{
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }